<main>
  <h1>Hi there, ${PWASSEMBLE.instance.companyName}!</h1>

  <h2>Image Assets</h2>

  <div class="static">
    The hero image is set as a background image in&nbsp; <code>main.css</code>.
  </div>

  <table>
    <thead>
      <tr>
        <th>Logo</th>
        <th>Icon</th>
        <th>Hero</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><img class="logo" src="${PWASSEMBLE.instance.companyLogoImgId}" alt="Logo"></td>
        <td><img class="icon" src="${PWASSEMBLE.instance.iconImgId}" alt="Icon"></td>
        <td><img class="hero" src="${PWASSEMBLE.instance.heroImgId}" alt="Hero"></td>
      </tr>
    </tbody>
  </table>

  <h2>Static and Dynamic Content</h2>

  <div class="static">
    This content already was in the static&nbsp; <code>main.html</code>.
  </div>

  <div class="dynamic"></div>

  <h2>PWAssemble Configuration</h2>

  <pre><code class="code"></code></pre>

  <h2>Remotely Fetched Data</h2>

  <pre><code class="fetch"></code></pre>

  <h2>Push Notification Toggle</h2>

  <div class="static">
    This can be placed anywhere, it has the ID&nbsp; <code>#pushNotificationsToggle</code>.
    Click any image asset on the page to trigger a push notification.
  </div>
</main>