<header>
  <img class="logo" src="${PWASSEMBLE.instance.companyLogoImgId}">
  <nav>
    <button class="user-menu">👤</button>
    <button class="hamburger-menu">☰</button>
  </nav>
</header>
<main>
  <h1>${PWASSEMBLE.instance.companyName}</h1>
  <h2>${PWASSEMBLE.instance.heroText}</h2>
  <div class="search-container">
    <input class="search-input" type="search" placeholder="e.g. Berlin">
    <button class="search-button"><img src="data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20class%3D%22svg-color--primary%22%20fill%3D%22%23fff%22%20d%3D%22M19.564%2017.448l-3.525-3.526c1.886-3.056.938-7.064-2.118-8.95s-7.064-.94-8.95%202.116-.94%207.064%202.116%208.95c2.094%201.294%204.74%201.294%206.833%200l3.527%203.526c.586.583%201.533.582%202.117-.004.58-.584.58-1.528%200-2.112zm-9.043-2.435c-2.48%200-4.49-2.01-4.49-4.49S8.04%206.03%2010.52%206.03s4.492%202.012%204.492%204.492-2.01%204.49-4.49%204.49z%22%2F%3E%3C%2Fsvg%3E"></button>
  </div>
  <div class="text-container">
    <div>${PWASSEMBLE.instance.ctaText}</div>
    <div>${PWASSEMBLE.instance.subText}</div>
  </div>
</main>
<footer>
  <ul class="imprint-centered">
    <li>About us</li>
    <li>Careers</li>
    <li>Press</li>
    <li>Help</li>
    <li>Imprint</li>
  </ul>
  <p class="imprint-small">
    <img class="logo-small" src="${PWASSEMBLE.instance.companyLogoImgId}">
    &copy; ${new Date().getFullYear()} ${PWASSEMBLE.instance.companyName}
  </p>
</footer>
