html, body {
  background-color: black;
  font-size: 14pt;
}

nav {
  position: fixed;
  height: 100%;
  padding-top: 2.5rem;
  top: 0;
  width: 80%;
  background-color: var(--colorFgSecondary);
}

nav:not(:target) {
  left: -100%;
  transition: left .5s;
}

nav:target {
  left: 0;
  transition: left .5s;
}

nav ul {
  list-style: none;
  padding-left: .5rem;
}

nav li {
  border-bottom: solid 1px var(--colorBgSecondary);
  width: 100%;
  margin-bottom: 1.5rem;
}

nav a {
  color: var(--colorBgSecondary);
  text-decoration: none;
}

#container {
  background: rgba(0, 0, 0, 0) url(${instance.heroImgId}) no-repeat scroll 0% 0% / cover padding-box border-box;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  position: relative;
}

#container > header {
  background-color: black;
  border-bottom: solid .5rem var(--colorFgPrimary);
  color: white;
  flex-shrink: 0;
  margin-bottom: -1rem;
  text-align: center;
}

#container > main {
  flex-grow: 1;
  margin: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

#container > footer {
  border-top: solid .5rem var(--colorFgPrimary);
  background-color: black;
  color: white;
  flex-shrink: 0;
  font-size: .75rem;
}

article {
  background: rgba(255, 255, 255, .95);
  margin: .5rem;
  hypens: auto;
  padding: .5rem;
  line-height: 1.5;
  letter-spacing: 0.01rem;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

@media (max-width: 500px) {
  article header a {
    font-size: .75rem;
  }
}

article header a {
  font-weight: bold;
  text-decoration: none;
}

article section {
  font-family: serif;
}

article section a {
  color: black;
}

@media (max-width: 500px) {
  article img, video, figure, div, p, a, iframe {
    max-width: 100% !important;
  }
}
@media (min-width: 501px) {
  article img, video, figure, div, p, a, iframe {
    max-width: 500px !important;
  }
}

article footer {
  border-top: 1px solid var(--colorFgPrimary);
  font-size: .75rem;
}

.open-menu, .close-menu {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 1.25rem;
  font-weight: lighter;
  padding: 0 .1rem;
  position: absolute;
  text-decoration: none;
  left: .5rem;
  top: .5rem;
}

.logo {
  height: 7.5vh;
  width: auto;
}

.logo-small {
  height: 5vh;
  vertical-align: middle;
  width: auto;
}

.logo-inline {
  height: 1.25rem;
}
