<header>
  <img class="logo" alt="${instance.companyName} logo"
      src="${instance.companyLogoImgId}">
  <a class="open-menu" aria-label="Open Menu" href="#nav" >☰</a>
</header>
<nav id="nav">
  <a class="close-menu" aria-label="Close Menu" href="#">ⓧ</a>
  <ul>
    <li><a href="${location.href}">🏠 Home</a></li>
    <li><a href="#">🌎 Americas</a></li>
    <li><a href="#">🌍 Europe and Africa</a></li>
    <li><a href="#">🌏 Asia and Australia</a></li>
    <li><a href="#">💼 Careers</a></li>
    <li><a href="#"><img class="logo-inline" src="${instance.iconImgId}" alt=""> About us</a></li>
    <li><a href="${new URL(instance.rssFeed).origin}"><svg xmlns="http://www.w3.org/2000/svg" class="rss-inline" viewBox="0 0 8 8"><style>.button {stroke: none; fill: orange;} .symbol {stroke: none; fill: white;}</style><rect width="8" height="8" class="button" rx="1.5"/><circle cx="2" cy="6" r="1" class="symbol"/><path d="M1 4a3 3 0 0 1 3 3h1a4 4 0 0 0-4-4z" class="symbol"/><path d="M1 2a5 5 0 0 1 5 5h1a6 6 0 0 0-6-6z" class="symbol"/></svg> ${new URL(instance.rssFeed).hostname}</a></li>
  </ul>
</nav>
<main>
  <!--
  ${entries = ((items, entries = [], chars = '⠁⠂⠃⠄⠅⠆⠇⠈⠉⠊⠋⠌⠍⠎⠏⠐⠑⠒⠓⠔⠕⠖⠗⠘⠙⠚⠛⠜⠝⠞⠟⠠⠡⠢⠣⠤⠥⠦⠧⠨⠩⠪⠫⠬⠭⠮⠯⠰⠱⠲⠳⠴⠵⠶⠷⠸⠹⠺⠻⠼⠽⠾⠿⡀⡁⡂⡃⡄⡅⡆⡇⡈⡉⡊⡋⡌⡍⡎⡏⡐⡑⡒⡓⡔⡕⡖⡗⡘⡙⡚⡛⡜⡝⡞⡟⡠⡡⡢⡣⡤⡥⡦⡧⡨⡩⡪⡫⡬⡭⡮⡯⡰⡱⡲⡳⡴⡵⡶⡷⡸⡹⡺⡻⡼⡽⡾⡿⢀⢁⢂⢃⢄⢅⢆⢇⢈⢉⢊⢋⢌⢍⢎⢏⢐⢑⢒⢓⢔⢕⢖⢗⢘⢙⢚⢛⢜⢝⢞⢟⢠⢡⢢⢣⢤⢥⢦⢧⢨⢩⢪⢫⢬⢭⢮⢯⢰⢱⢲⢳⢴⢵⢶⢷⢸⢹⢺⢻⢼⢽⢾⢿⣀⣁⣂⣃⣄⣅⣆⣇⣈⣉⣊⣋⣌⣍⣎⣏⣐⣑⣒⣓⣔⣕⣖⣗⣘⣙⣚⣛⣜⣝⣞⣟⣠⣡⣢⣣⣤⣥⣦⣧⣨⣩⣪⣫⣬⣭⣮⣯⣰⣱⣲⣳⣴⣵⣶⣷⣸⣹⣺⣻⣼⣽⣾⣿') => {
    const rand = (from, to) => Math.floor(Math.random() * to) + from;
    const getWord = (min, max, word = '') => {
      for (let i = 0, count = rand(min, max); i < count; i++) {
        word += chars[rand(0, chars.length)];
      }
      return word;
    };
    const getWords = (minW, maxW, minL, maxL, words = []) => {
      for (let i = 0, count = rand(minW, maxW); i < count; i++) {
        words[i] = getWord(minL, maxL);
      }
      return words.join(' ');
    };
    for (let i = 0; i < items; i++) {
      entries[i] = {
        title: getWords(2, 4, 2, 5),
        summary: getWords(10, 15, 2, 8),
        date: new Date().toISOString()
      };
    }
    return entries;
  })(5), entries.map(entry => {
  return `
      <article ${entry.meta && entry.meta.language ?
            `lang="${entry.meta.language}"` : ''}>
        <header>
          <a href="${entry.link}"><h2>${entry.title}</h2></a>
        </header>
        <section>${entry.summary}</section>
        <footer>
          <p>Posted on
            <time datetime="${new Date(entry.date).toISOString()}">
              ${new Date(entry.date).toLocaleString()}
            </time>
          </p>
        </footer>
      </article>`;
  }).join('\n')}
  -->
</main>
<footer>
  &copy; ${new Date().getFullYear()} ${instance.companyName}
  <img class="logo-small" alt="${instance.companyName} logo"
      src="${instance.companyLogoImgId}">
</footer>
