html, body {
  background-color: white;
  font-size: 14pt;
}

nav {
  position: absolute;
  height: 100%;
  top: 0;
  width: 80%;
  padding: .25rem;
  background-color: var(--colorFgSecondary);
  z-index: 1;
  will-change: transform;
}

nav:not(:target) {
  transform: translateX(-100vw);
  transition: transform .5s;
}

nav:target {
  transform: translateX(0);
  transition: transform .5s;
}

nav ul {
  list-style: none;
  padding-left: .5rem;
}

nav li {
  border-bottom: solid 1px var(--colorBgSecondary);
  width: 100%;
  margin-bottom: 1.5rem;
}

nav a {
  color: var(--colorBgSecondary);
  text-decoration: none;
}

#container {
  background: rgba(0, 0, 0, 0) url(${PWASSEMBLE.instance.heroImgId}) no-repeat scroll 0% 0% / cover padding-box border-box;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: .25rem;
  position: relative;
  width: 100vw;
}

#container > header {
  background-color: white;
  border-bottom: solid .5rem var(--colorFgPrimary);
  color: var(--colorFgPrimary);
  display: flex;
  flex-shrink: 0;
  text-align: center;
}

#container > main {
  flex-grow: 1;
  margin: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

#container > footer {
  border-top: solid .5rem var(--colorFgPrimary);
  background-color: white;
  color: var(--colorFgPrimary);
  flex-shrink: 0;
  font-size: .75rem;
  padding: .25rem;
}

#pushNotificationsToggle {
  color: white;
  padding-left: .5rem;
}

#pushNotificationsToggle input {
  width: initial;
}

form {
  background-color: white;
  padding: .5rem;
}

input, select {
  border: solid darkgray 2px;
  border-radius: 3px;
  color: darkgray;
  font-size: 16px;
  margin: .25rem;
  padding: .5rem;
  width: 8rem;
}

label[for='amount']::before {
  content: "$";
  color: darkgray;
  margin-left: -.7rem;
  position: relative;
  left: -.5rem;
  top: .25rem;
}

button {
  color: white;
  background-color: var(--colorFgSecondary);
  border: none;
  border-radius: 3px;
  font-size: 1.15rem;
  font-weight: bold;
  margin: .25rem;
  padding: .5rem;
  text-align: center;
  width: 100%;
}

p {
  font-size: 1.1rem;
  color: white;
}

.open-menu, .close-menu {
  background-color: transparent;
  border: none;
  color: var(--colorFgPrimary);
  font-size: 1.25rem;
  padding: .25rem 1rem .25rem .25rem;
  text-decoration: none;
}

.close-menu {
  margin-left: 90%;
}

.logo {
  height: 7.5vh;
  margin: .25rem;
  max-width: 50vw;
  width: auto;
}

.logo-small {
  height: 5vh;
  margin: .25rem;
  max-width: 25vw;
  vertical-align: middle;
  width: auto;
}

.logo-inline {
  height: 1.25rem;
}

.imprint {
  background: rgba(0, 0, 0, 0.5) url(https://upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Money_Cash.jpg/1024px-Money_Cash.jpg) no-repeat scroll 0% 0% / cover padding-box border-box;
  color: black;
  font-size: .5rem;
  padding: 1rem .25rem;
}

.imprint div {
  background-color: rgba(255,255,255,.5);
}
