html, body {
  font-size: 14pt;
}

nav {
  position: absolute;
  height: 100%;
  top: 0;
  width: 80%;
  padding: .25rem;
  background-color: var(--colorFgSecondary);
  z-index: 1;
}

nav:not(:target) {
  left: -100vw;
  transition: left .5s;
}

nav:target {
  left: 0;
  transition: left .5s;
}

nav ul {
  list-style: none;
  padding-left: .5rem;
}

nav li {
  border-bottom: solid 1px var(--colorBgSecondary);
  width: 100%;
  margin-bottom: 1.5rem;
}

nav a {
  color: var(--colorBgSecondary);
  text-decoration: none;
}

#container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  margin: 0;
  position: relative;
}

#container > header {
  background-color: black;
  border-bottom: solid .5rem var(--colorFgPrimary);
  color: white;
  display: flex;
  flex-shrink: 0;
  text-align: center;
}

#container > main {
  flex-grow: 1;
  margin: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

#container > footer {
  border-top: solid .5rem var(--colorFgPrimary);
  background-color: black;
  color: white;
  flex-shrink: 0;
  font-size: .75rem;
}

#pushNotificationsToggle {
  color: white;
  padding-left: .5rem;
}

form {
  background: rgba(0, 0, 0, 0) url(${PWASSEMBLE.instance.heroImgId}) no-repeat scroll 0% 0% / cover padding-box border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 5rem;
  position: sticky;
  top: 0;
}

form div {
  display: flex;
  justify-content: center;
}

form input {
  font-size: .75rem;
  font-weight: lighter;
  color: var(--colorFgSecondary);
  background-color: rgba(255,255,255,.75);
  border-right: none;
  border-left: solid black 1px;
  border-top: solid black 1px;
  border-bottom: solid black 1px;
  padding: .25rem;
  width: 80%;
  height: 2.5rem;
}

form button {
  font-size: .75rem;
  color: var(--colorFgPrimary);
  background-color: var(--colorBgPrimary);
  border-left: none;
  border-right: solid black 1px;
  border-top: solid black 1px;
  border-bottom: solid black 1px;
  height: 2.5rem;
  width: 10%;
}

#products {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#products figure {
  background-color: white;
  border: solid var(--colorFgSecondary) 1px;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  margin: .25rem;
  text-align: center;
  width: 5rem;
}

#products figure img {
  height: 10vh;
  margin: .1rem;
  width: auto;
}

#products figure figcaption {
  background-color: var(--colorBgPrimary);
  color: var(--colorFgPrimary);
  font-size: .6rem;
  font-weight: light;
  flex-grow: 1;
  max-height: 3rem;
  text-align: center;
  overflow: hidden;
  padding: .25rem;
}

.open-menu, .close-menu {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 1.25rem;
  padding: .25rem 1rem .25rem .25rem;
  text-decoration: none;
}

.logo {
  height: 7.5vh;
  max-width: 50vw;
  width: auto;
}

.logo-small {
  height: 5vh;
  max-width: 25vw;
  vertical-align: middle;
  width: auto;
}

.logo-inline {
  height: 1.25rem;
}

.rss-inline {
  height: 1.25rem;
  margin-right: .25rem;
}
