#container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100vw;
}

app-header {
  background-color: var(--colorBgPrimary);
  color: var(--colorFgPrimary);
}

paper-icon-button {
  --paper-icon-button-ink-color: var(--colorFgPrimary);
}

app-toolbar {
  padding: 0;
}

app-drawer-layout:not([narrow]) [drawer-toggle] {
  display: none;
}

iron-image {
  background-color: lightgray;
  margin: 1em;
}

.horizontal-section-container {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.horizontal-section {
  background-color: white;
  padding: 24px;
  margin-right: 24px;
  min-width: 200px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 1px 5px 0 rgba(0, 0, 0, 0.12),
              0 3px 1px -2px rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin-bottom: 24px;
}

main {
  padding: .5rem;
}
